h2.subcorpus-label {
    margin-bottom: 0.6em;
    border-bottom: 1px solid #a2a9b1;
}

div.context-before > p > span, div.matched-line > p > span, div.context-after > p > span {
    display: inline-block;
}

.deps p {
    font-family: monospace;
}

span.line-key {
    border: 1px solid #c7ccd1;
    padding: 0px 1px;
    background-color: inherit;
    color: #808080;
    font-weight: bold;
}

div.utterance-box {
    padding: 0px 10px 0px 10px;
    margin: 10px 0px;
    border: 1px solid #dddfe2;
    background-color: #fff;
}

h2.persist-header {
    position: sticky;
    top: -1px;
    background-color: #e9ebee;/*inherit;*/
    /* swap the 0 padding with the nonzero margin
     * stole the raw values from firefox */
    padding-top: 19.9167px;
    padding-bottom: 14.4px;
    margin-top: 0px;
    margin-bottom: 0px;
}
