body {
    background-color: #e9ebee;
    line-height: 1.6;
    color: #1d2129;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #365899;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*
h1 {
    padding: 10px 15px;
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    color: #fff;
}
*/

.select {
    margin: 5px;
}

.select > div {
    display: inline-block;
    vertical-align: middle;
}

div#content {
    padding: 10px 15px;
}

div#footer {
    margin: 1.5em 0px;
    font-size: 10pt;
    text-align: center;
}

.donation-bar {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.donation-bar > * {
    display: flex;
}

.donate-link:hover {
    text-decoration: none !important;
}

.donate-button {
    display: inline-block;
    font-family: Helvetica, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 4px 6px;
}

.donate-button > svg, .donate-button > img, .donate-button > span {
    vertical-align: middle;
}
