h2 {
    margin-bottom: 0.6em;
    border-bottom: 1px solid #a2a9b1;
}

div#corpora {
    display: inline-flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    align-items: center;
    /*height: 100vh;*/
}

div.search-group > div {
    vertical-align: middle;
}

div.search-group {
    flex: 1;
    vertical-align: top;
    padding: 0px 10px 0px 10px;
    margin: 10px;
    border: 1px solid #dddfe2;
    background-color: #fff;
}

div#about {
    flex: 99999;
    flex-basis: 350px;
    margin: 10px;
}

div.subcorpus-entry {
    display: inline-block;
}

div#corpora > div {
    margin: 5px 0;
}

.corpus-wrap {
    align-self: center;
    flex-basis: 150px;
    flex-grow: 0;
}

.advanced-search-option-hide {
    transition: background-color 1.5s ease;
    background-color: #fdf1d1;

    /*display: none !important;*/
    /* needed to simulate display: none which won't work with transitions https://stackoverflow.com/a/3332179 */
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.advanced-search-option-show {
    opacity: 1;
    background-color: inherit !important;
    height: unset;
}
