<!doctype html>
<html lang="en">
    <head>
        <meta charset='utf-8' />
        <link rel=stylesheet href="/static/childes-search/style.css" />
        <link rel=stylesheet href="/static/childes-search/style.index.css" />
        <title>CHILDES 2, Electric Boogaloo - Home</title>
        <!-- TODO we can make this thing into a generalised talkbank corpus browser -->
        <script type="text/javascript" src="/static/childes-search/index.js"></script>
        <style>
sup.help {
    text-decoration: underline;
    cursor: help;
}
        </style>
    </head>
    <body>
        <div id=content>

            <form action="search" method=POST>
            <h1>CHILDES Search</h1>
            <div>
                <div id=about>
                    <p>We have opened up CHILDES Search for popular consumption in {% for lang, langshort in languages|dictsort %}{% if loop.last %}and {% endif %}<b><a href="{{langshort}}">{{lang}}</a></b>{%if not loop.last%}, {% endif %}{% endfor %}.</p>
                    <h3>Find what matters most</h3>
                    <p>Search for morphemes, phrases, or anything in between by using <a>regular expressions</a>.</p>
                    <h3>Powerful, blazing fast search</h3>
                    <p>A level of processing power that races past the competition. Forget horsepower. This is rocket speed.</p>
                    <h3>Your voice counts</h3>
                    <p>Please consider <a href="./donate"><b>making a donation</b></a> to support improvements and expansion of the project.</p>
                </div>
            <hr />

            </form>
        </div>
        {% include "footer.html" %}
    </body>
</html>
