<div id=footer>
    <div>Talkbank browser v0.0.1a &bull; <a href="mailto:andwang@umass.edu">Andrew Wang</a></div>
    <div class=donation-bar>
        <a href="{{HOME}}/donate#liberapay">
            <div class=donate-button style="color: #000; background-color: #f6c915">
                <img src="/static/icons/liberapay.svg" alt="Liberapay logo" />
                <!--<span>Liberapay</span>-->
            </div>
        </a>
        <a href="{{HOME}}/donate#square-cash">
            <div class=donate-button style="color: #fff; background-color: #28c101">
                <img src="/static/icons/square-cash.svg" alt="Square Cash logo" />
                <!--<span>One Time</span>-->
            </div>
        </a>
        <a href="{{HOME}}/donate#monero">
            <div class=donate-button style="color: #fff; background-color: #ff6600">
                <img src="/static/icons/monero.white.svg" alt="Monero logo" />
                <!--<span>Monero</span> -->
            </div>
        </a>
        <a href="{{HOME}}/donate#garlicoin">
            <div class=donate-button style="color: #fff; background-color: #444">
                <img src="/static/icons/garlicoin.micro.svg" alt="Garlicoin logo" />
            </div>
            <!--<span>Garlicoin</span>-->
        </a>
        <a href="{{HOME}}/donate">
            <!--<div class=donate-button style="color: #fff; background-color: burlywood">-->
            <div class=donate-button style="color: #fff; background-color: #444">
                <span>Donate</span>
            </div>
        </a>
    </div>
</div>
