<!doctype html>
<html lang="en">
    <head>
        <meta charset='utf-8' />
        <link rel="stylesheet" href="/static/childes-search/style.css" />
        <link rel="stylesheet" href="/static/childes-search/style.search.css" />
        <title>CHILDES 2, Electric Boogaloo - Search</title>
        <script type="text/javascript" src="/static/childes-search/search.js"></script>
    </head>
    <body>
        <div id="content">
            <h1>CHILDES Corpus Query Results</h1>
            <p>
                Your search for:
                <ul>
                    {% if summary.utt_regex_str %}
                    <li>utterance: <b id=utt-regex-str>{{summary.utt_regex_str}}</b></li>
                    {% endif %}
                    {% if summary.dep_regex_str %}
                    <li>dependent: <b id=dep-regex-str>{{summary.dep_regex_str}}</b></li>
                    {% endif %}
                    {% if summary.agerange %}
                    <li>age range: <b id=agerange>{{summary.agerange.0|round(3)}}-{{summary.agerange.1|round(3)}}</b></li>
                    {% endif %}
                </ul>
                found <b>{{summary.cum_num_matches}}</b> matching lines in <b>{{summary.cum_convo_matches}}</b> conversations in <b>{{summary.cum_corpora_matches}}</b> corpora.
                <a id=download-button href="javascript:savePage(document.getElementById('utt-regex-str').innerHTML);">Download matching lines (CSV)</a>.
            </p>
            <p><a href="{{HOME}}">&lArr;&nbsp;new search</a></p>
            <hr />
            <div id=results>
                {% for corpus, matches in search_results|dictsort %}
                    <h2 class="persist-header subcorpus-label">{{corpus}}</h2>
                    {% for cha_file, convo in matches|dictsort %}
                        {% for tp in convo.conversation %}
                            {% set lineno = tp.0 %}
                            {% set line = tp.1 %}
                            {% set content = line.content %}
                            <div class=utterance-box>
                                {% set context_before = line.context_before %}
                                {% set context_after = line.context_after %}
                                <!-- grep -B -->
                                <div class=context-before>
                                    {% for tp in context_before %}
                                        {% set lineno = tp.0 %}
                                        {% set line = tp.1 %}
                                        {% set content = line.content %}
                                        <p>
                                            <span><span class=file>{{cha_file}}</span>:<span class=lineno>{{lineno}}</span></span>
                                            <span><span class=line-key>{{line.sigil}}{{line.key}}</span>&nbsp;<span class=content style="color: {{line.color}}">{{content.0}}<b>{{content.1}}</b>{{content.2}}</span></span>
                                        </p>
                                        <div class=deps>
                                            {% for dep in line.deps %}
                                                {% set depcontent = dep.content %}
                                                <p><span class=line-key>{{dep.sigil}}{{dep.key}}</span>&nbsp;<span style="color: {{dep.color}}">{{depcontent.0}}<b>{{depcontent.1}}</b>{{depcontent.2}}</span></p>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- grep -->
                                <div class=matched-line>
                                    <p>
                                        <a href="view/{{subcorpus}}/{{cha_file}}#L{{lineno}}"><span class=file>{{cha_file}}</span>:<span class=lineno>{{lineno}}</span></a>
                                        <span>
                                            <span class=line-key>{{line.sigil}}{{line.key}}</span>
                                            {% if convo.participants[line.key] is defined and convo.participants[line.key].0.age_display is not none %}
                                            <span class=line-age>{{convo.participants[line.key].0.age_display}}</span>
                                            {% endif %}
                                            &nbsp;<span class=content style="color: {{line.color}}">{{content.0}}<b>{{content.1}}</b>{{content.2}}</span>
                                        </span>
                                    </p>
                                    <div class=deps>
                                        {% for dep in line.deps %}
                                            {% set depcontent = dep.content %}
                                            <p><span class=line-key>{{dep.sigil}}{{dep.key}}</span>&nbsp;<span style="color: {{dep.color}}">{{depcontent.0}}<b>{{depcontent.1}}</b>{{depcontent.2}}</span></p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- grep -A -->
                                <div class=context-after>
                                    {% for tp in context_after %}
                                        {% set lineno = tp.0 %}
                                        {% set line = tp.1 %}
                                        {% set content = line.content %}
                                        <p class=context-after>
                                            <span><span class=file>{{cha_file}}</span>:<span class=lineno>{{lineno}}</span></span>
                                            <span><span class=line-key>{{line.sigil}}{{line.key}}</span>&nbsp;<span class=content style="color: {{line.color}}">{{content.0}}<b>{{content.1}}</b>{{content.2}}</span></span>
                                        </p>
                                        <div class=deps>
                                            {% for dep in line.deps %}
                                                {% set depcontent = dep.content %}
                                                <p><span class=line-key>{{dep.sigil}}{{dep.key}}</span>&nbsp;<span style="color: {{dep.color}}">{{depcontent.0}}<b>{{depcontent.1}}</b>{{depcontent.2}}</span></p>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>
