<!doctype html>
<html lang="en">
    <head>
        <meta charset='utf-8' />
        <link rel="stylesheet" href="/static/childes-search/style.css" />
        <link rel="stylesheet" href="/static/childes-search/style.search.css" />
        <title>CHILDES 2, Electric Boogaloo - View</title>
        <style>
div:target {
    border-color: #fde29b !important;
    background-color: #fdf1d1 !important;
}
        </style>
    </head>
    <body>
        <div id="content">
            <h1>CHILDES Corpus Conversation Viewer</h1>
            <p><a href="{{HOME}}">&lArr;&nbsp;home</a></p>
            <hr />
            <div id=results>
                {% for subcorpus, matches in conversation|dictsort %}
                    <h2 class="subcorpus-label">{{subcorpus}}</h2>
                    {% for cha_file, convo in matches|dictsort %}
                        {% for tp in convo.conversation %}
                            {% set lineno = tp.0 %}
                            {% set line = tp.1 %}
                            {% set content = line.content %}
                            <div id="L{{lineno}}" class=utterance-box>
                                <!--<a href="#L{{lineno}}" style="position: absolute; width: 100%; height: 100%"></a>-->
                                {% set context_before = line.context_before %}
                                {% set context_after = line.context_after %}
                                <!-- grep -B -->
                                <div class=context-before>
                                    {% for tp in context_before %}
                                        {% set lineno = tp.0 %}
                                        {% set line = tp.1 %}
                                        {% set content = line.content %}
                                        <p>
                                            <span>{{cha_file}}:{{lineno}}</span>
                                            <span><span class=line-key>{{line.sigil}}{{line.key}}</span>&nbsp;<span style="color: {{line.color}}">{{content.0}}<b>{{content.1}}</b>{{content.2}}</span></span>
                                        </p>
                                        <div class=deps>
                                            {% for dep in line.deps %}
                                                {% set depcontent = dep.content %}
                                                <p><span class=line-key>{{dep.sigil}}{{dep.key}}</span>&nbsp;<span style="color: {{dep.color}}">{{depcontent.0}}<b>{{depcontent.1}}</b>{{depcontent.2}}</span></p>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- grep -->
                                <div class=matched-line>
                                    <p>
                                        <span><a href="#L{{lineno}}">{{cha_file}}:{{lineno}}</a></span>
                                        <span>
                                            <span class=line-key>{{line.sigil}}{{line.key}}</span>
                                            {% if convo.participants[line.key] is defined and convo.participants[line.key].0.age_display is not none %}
                                            <span class=line-age>{{convo.participants[line.key].0.age_display}}</span>
                                            {% endif %}
                                            &nbsp;<span class=content style="color: {{line.color}}">{{content.0}}<b>{{content.1}}</b>{{content.2}}</span>
                                        </span>
                                    </p>
                                    <div class=deps>
                                        {% for dep in line.deps %}
                                            {% set depcontent = dep.content %}
                                            <p><span class=line-key>{{dep.sigil}}{{dep.key}}</span>&nbsp;<span style="color: {{dep.color}}">{{depcontent.0}}<b>{{depcontent.1}}</b>{{depcontent.2}}</span></p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- grep -A -->
                                <div class=context-after>
                                    {% for tp in context_after %}
                                        {% set lineno = tp.0 %}
                                        {% set line = tp.1 %}
                                        {% set content = line.content %}
                                        <p class=context-after>
                                            <span>{{cha_file}}:{{lineno}}</span>
                                            <span><span class=line-key>{{line.sigil}}{{line.key}}</span>&nbsp;<span style="color: {{line.color}}">{{content.0}}<b>{{content.1}}</b>{{content.2}}</span></span>
                                        </p>
                                        <div class=deps>
                                            {% for dep in line.deps %}
                                                {% set depcontent = dep.content %}
                                                <p><span class=line-key>{{dep.sigil}}{{dep.key}}</span>&nbsp;<span style="color: {{dep.color}}">{{depcontent.0}}<b>{{depcontent.1}}</b>{{depcontent.2}}</span></p>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="persist-area"><div class="persist-header"><!-- bottom section --></div></div>
        {% include "footer.html" %}
    </body>
</html>
